<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="angularjs-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" />
                <p class="angularjs-app">This application was made by using AngularJS (1.X).</p>
            </div>
            <div class="col-md-9 text-right">
                <a class="copyright" href="https://www.linkedin.com/in/andreinelega/" target="_blank">&copy; Andrei Nelega</a>
            </div>
        </div>
    </div>
</div>